.topnav, .login{
    background-color: #333;
    overflow: hidden;
}
h1 {
    text-align: center;
}

p {
    padding: 5em;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#login {
    float: right;
}

.topnav a:hover, .login a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active, .login a.active {
    background-color: #4caf50;
    color: white;
}

.heart {
    content: '&#9829';
  }

.heart:before {
    content: '\2665';
    color: red;
  }

article {
    text-align: center;
    vertical-align: baseline;
}

article img {
    max-width: 15%;
    height: auto;
}

.deleteButton {
    background-color: red;
    border-style: solid;
    border-radius: 15px;
    align-self: baseline;
    size: 50px;
}

.profileButton {
    background-color: green;
    border-style: solid;
    border-radius: 15px;
    align-self: baseline;
    size: 50px;
    padding: 20px 20px 20px 20px;
}